@model Abraham.Domain.Business.DTOs.Session

@{
    ViewBag.Title = "Session form";
}

<h2>Session form</h2>

<p>@Model.Id</p>
<p>@Model.BeginDate</p>
<p>@Model.EndDate</p>
<p>@Model.UserId</p>
<p>@Model.CmpId</p>
